<div class="row mb-4" id="containerPage">
  <hr id="dividerLogoAndBanner" class="mx-1"/>
  <div class="col-12">
    <img
      src="assets/images/banner.png"
      alt="banner"
      id="bannerImage"
    >
  </div>
  <hr class="my-3 mx-2" id="dividerBannerAndTable"/>
  <div class="col-8">
    <table
      class="table"
      aria-describedby="tableVehicles"
      id="tableVehicles"
    >
      <thead id="theadTableVehicles">
        <tr>
          <th class="h5" id="theadVehicleId">#</th>
          <th class="h5" id="theadVehicleBrand">Marca</th>
          <th class="h5" id="theadVehicleLine">Línea</th>
          <th class="h5" id="theadVehicleModel">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr class="trbody" *ngFor="let vehicle of vehicles">
          <td>
            <dd id="vehicleId" class="id">{{vehicle.id}}</dd>
          </td>
          <td>
            <dd id="vehicleBrand" class="brand">{{vehicle.marca}}</dd>
          </td>
          <td>
            <dd id="vehicleLine" class="line">{{vehicle.linea}}</dd>
          </td>
          <td>
            <dd id="vehicleModel" class="model">{{vehicle.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-8" *ngFor="let brand of brands">
    <h6 class="total">Total {{brand.name}}: {{brand.amount}}</h6>
  </div>
</div>

<div class="row mt-5" id="footer">
  <p>Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
</div>

