<div class="container-fluid mx-4">
  <img
    src="assets/images/logo.png"
    alt="logo"
    id="logoImage"
    class="mt-3"
  >
  <hr id="dividerLogoAndBanner"/>
  <div class="col-8">
    <img
      src="assets/images/banner.png"
      alt="banner"
      id="bannerImage"
    >
  </div>
  <hr class="mb-3"/>
  <div class="col-8">
    <table
      class="table"
      aria-describedby="tableVehicles"
      id="tableVehicles"
    >
      <thead id="theadTableVehicles">
        <tr>
          <th class="h5">#</th>
          <th class="h5">Marca</th>
          <th class="h5">Línea</th>
          <th class="h5">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>
            <dd id="vehicleId">{{vehicle.id}}</dd>
          </td>
          <td>
            <dd id="vehicleBrand">{{vehicle.marca}}</dd>
          </td>
          <td>
            <dd id="vehicleLine">{{vehicle.linea}}</dd>
          </td>
          <td>
            <dd id="vehicleModel">{{vehicle.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-8">
    <h6 class="total">Total Renault:</h6>
    <h6 class="total">Total Chevrolet:</h6>
    <h6>Total Nissan:</h6>
  </div>
</div>

<div id="footer">
  <p id="footerText">Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
</div>

