#vehicleId {
  font-weight: bold;
}

#theadTableVehicles {
  background: #333A40;
  color: white;
}

#titlePage {
  text-shadow: 2px 2px #333333;
  color: black;
}

#footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#logoImage {
  max-width: 300px;
  margin-bottom: 8px;
}

#dividerLogoAndBanner {
  box-shadow: 1px 3px 5px black;
}

.total {
  margin-bottom: -0.2px
}

#containerPage {
  width: 90%;
  margin: 0 auto;
}

#bannerImage {
  width: 100%;
  height: auto;
}
